[user]
	name = Adam Lau
	email = skyros@gmail.com
[push]
    default = current
[mergetool]
	keepBackup = true
[merge]
    tool = sourcetree
[core]
    editor = vim
    filemode = false
    pager = less -F -X -I
[alias]
    ui = !stree
    co = checkout
    rl = reflog
    ri = rebase -i
    br = branch
    ci = commit
    st = status
    cfg = config --global
    unstage = reset HEAD --
    pl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    last = log -1 HEAD
    pushall = "!f(){ for i in `git remote`; do git push $i; done; };f"
    h = help
    md = diff --minimal -w
    amend = commit --amend
    l3 = log -3
    tv = !git tag | sort -V
    wc = whatchanged
[help]
    autocorrect = 1
[color]
    ui = true
    status = true
    grep = true
    interactive = true
    branch = true
    diff = true
    decorate = true
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[rerere]
    enabled = true
[pull]
    default = current
[difftool "sourcetree"]
    cmd = /usr/local/bin/bcomp $LOCAL $REMOTE
    path = 
[mergetool "sourcetree"]
    cmd = /usr/local/bin/bcomp $LOCAL $REMOTE $BASE $MERGED
    trustExitCode = true
